<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="#" >ABC E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="checkLoggedIn()">
      <ul class="nav navbar-nav ms-auto" style="margin-right: 0px; ">
        
      <i class="fa fa-shopping-cart ms-2" routerLink="cart" aria-hidden="true">
        <span *ngIf="checkLoggedIn()" class=" translate-middle badge rounded-pill bg-primary">
        {{loginService.getQuantityOfCart(currentUser.id)}}
      </span>
    </i>

    <i class="fa-regular fa-heart" style="margin-top: 13px;" routerLink="wishlist" ></i>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ms-2 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" >
            <li><a class="dropdown-item" routerLink ='profile'>Profile Details</a></li>
            <li><a class="dropdown-item" routerLink='login' (click)="logoutUser()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
