  <div class=" outer-container px-4 py-5 px-md-4 text-lg-start text-center ">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            ABC<br />
            <span class="text-primary">E-Commerce Website</span>
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
            quibusdam tempora at cupiditate quis eum maiores libero
            veritatis? Dicta facilis sint aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <!-- form control used for inputs, form-label labels which is enclosed in form group/form outline for apt spacing -->
                
                <div class="form-outline mb-4">
                  
                  <label class="form-label">Username</label>
                  <input formControlName="username" type="text" class="form-control form-control-lg" />
	<em *ngIf="formControls.username.invalid && formControls.username.touched && formControls.username.errors.required">Required</em>
                  
                </div>


                <div class="form-outline mb-4">
                  
                  <label class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control form-control-lg" />
	                <em *ngIf="formControls.password.invalid && formControls.password.touched && formControls.password.errors.required">Required</em>
                  
                </div>

                <button type="submit" [disabled]="loginForm.invalid || isClicked" class="btn btn-primary btn-block mb-4">
                  Log In
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
