<div class="container">

  <div class="card mb-3 mt-5" style="max-width: 540px; margin-left: auto; margin-right: auto;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{userDetails.image}} class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> Name: {{userDetails.firstName}} {{userDetails.lastName}}</h5>
          <p class="card-text"> Username: {{userDetails.username}}
          </p>
          <p class="card-text"><small class="text-muted"> E-mail: {{userDetails.email}}</small>
          </p>
          <p class="card-text"><small class="text-muted"> Gender: {{userDetails.gender}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
