<!-- how to make it fit inside its column -->

<div class="container bg-light"> 
  
<div class="row">

  <div class="col-lg-1 col-md-12" ><small>Sort By:</small></div>
  <div class="sorts col-lg-2 col-md-12" (click)="setSortCategory('price', 'asec')" [ngClass]="{'clicked': sortDirection==='asec'}"><small>Price-Low To High</small></div>
  <div class=" sorts col-lg-2 col-md-12" (click)="setSortCategory('price','desc')" [ngClass]="{'clicked': sortDirection==='desc'}"><small>Price-High to Low</small></div>
  <div class="sorts col-lg-2 col-md-12" (click)="setSortCategory('rating', 'none')" [ngClass]="{'clicked': sortDirection==='none'}"><small>Ratings</small></div>
  <div class="gx-3 col-lg-5 ms-auto">
  <div class="input-group ms-auto">
    <div class="form-outline"  style="float: right;">
      <input [(ngModel)]='Title' type="search" class="form-control" placeholder="Search Title..." />
    </div>
    <button type="button" class="btn btn-primary" (click)="search()" >
      <i class="fas fa-search"></i>
    </button>
  </div>
  </div>
    
  
</div>
</div> 


<div class="container bg-light">
  <div class="row mt-2">
    <div *ngFor="let item of products?.products|sort:[sortField, sortDirection]|filter:[searchTitle,'title']" class="col col-sm-8 col-md-6 col-lg-4 mt-3">
        <div class="card h-100">
          <img src={{item.thumbnail}} class="card-img-top" alt="Product Image">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.price | currency:'USD'}}</p>
            <p class="card-text"><i class="fa-solid fa-star" [ngClass]="{'high':item.rating>=4.5,'medium':item.rating>=4 && item.rating<4.5,'low': item.rating<4}"></i> {{item.rating}}</p>
            <p class="card-text">{{item.description}}</p>
            <a href="#" class="btn btn-primary" (click)="sendProduct(item)" [routerLink] ="['/product_display', item.id]">Add To Cart</a>
          </div>
        </div>
    </div>
  </div>
</div>  
