.sorts:hover{
  color: blue;
}
.sort:active{
  color: blue;
}
::placeholder{
  font-size: smaller;
}
.sorts{
  cursor:pointer
}
.card{
  width: 18rem;
}
img{
  width:100%;
  height: 100px;
  object-fit:cover
}

.clicked {
  color: blue; 
}